<h1> Welcome to Volunteer Tracker </h1> 

<h1>Project Management Buddy</h1>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/project/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p> You have no projects yet!</p>
<% end %>

<h1> Create a new project</h1> 

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project">Enter a project name:</label>
    <input id="project" name="project" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add new project</button>
</form>

