<h3><%= @project.title %></h3>

<% if @volunteers.any? %>
  <ul>
    <% @volunteers.each do |volunteer| %>
      <li><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p> You have no volunteers for this project yet!</p>
<% end %>

<p><a href="/project/<%= @project.id %>/update_project">Update this project</a></p>


